Assignment Honour Code

(1) I hereby agree to follow any and all assignment rules and procedures as stated in Canvas for this course, MATH2319.

(2) In particular, I solemnly swear that I will not discuss/ have not discussed my assignment solutions with anyone in any way and the solutions I am submitting are my own personal work.

 Full Name: **[Brian Steven Rathod, s3760875]**

# Question 1.

In [1]:
#Importing Numpy and Pandas modules

import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Reading "crx.data" file uploaded to Azure storage

crx_data = 'crx.data.csv'
crxd = pd.read_csv(crx_data , sep=',', header =None)

In [3]:
#Viewing first 5 observations of the dataset

crxd.head(5)

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [4]:
#Viewing datatypes of all columns

crxd.dtypes

0      object
1      object
2     float64
3      object
4      object
5      object
6      object
7     float64
8      object
9      object
10      int64
11     object
12     object
13     object
14      int64
15     object
dtype: object

In [5]:
#Viewing number of missing values in each column, but it doesn't look quite right

crxd.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [6]:
# Making a list of missing value types, to include "?" values

missing_values = ["n/a", "na", "--", "?"]
crxd = pd.read_csv(crx_data , sep=',', header =None, na_values = missing_values)

In [7]:
#Summary statistics of numeric features

crxd.describe(include = np.number).round(3)

            1        2        7        10        13          14
count  678.000  690.000  690.000  690.000   677.000     690.000
mean    31.568    4.759    2.223    2.400   184.015    1017.386
std     11.958    4.978    3.347    4.863   173.807    5210.103
min     13.750    0.000    0.000    0.000     0.000       0.000
25%     22.602    1.000    0.165    0.000    75.000       0.000
50%     28.460    2.750    1.000    0.000   160.000       5.000
75%     38.230    7.208    2.625    3.000   276.000     395.500
max     80.250   28.000   28.500   67.000  2000.000  100000.000

In [8]:
##Summary statistics of categorical features

crxd.describe(include = np.object)

         0    3    4    5    6    8    9    11   12   15
count   678  684  684  681  681  690  690  690  690  690
unique    2    3    3   14    9    2    2    2    3    2
top       b    u    g    c    v    t    f    f    g    -
freq    468  519  519  137  399  361  395  374  625  383

In [9]:
# get the list of categorical descriptive features
categorical_cols = crxd.columns[crxd.dtypes==object].tolist()

categorical_cols

#Removing whitespaces from observations in categorical columns(if present)
for col in categorical_cols:
    print( 'Before transformation, unique values for ' + str(col))
    print(crxd[col].unique())
    print('\nAfter transformation')
    crxd[col] = crxd[col].str.strip()
    print(crxd[col].unique())
    print('')

Before transformation, unique values for 0
['b' 'a' nan]

After transformation
['b' 'a' nan]

Before transformation, unique values for 3
['u' 'y' nan 'l']

After transformation
['u' 'y' nan 'l']

Before transformation, unique values for 4
['g' 'p' nan 'gg']

After transformation
['g' 'p' nan 'gg']

Before transformation, unique values for 5
['w' 'q' 'm' 'r' 'cc' 'k' 'c' 'd' 'x' 'i' 'e' 'aa' 'ff' 'j' nan]

After transformation
['w' 'q' 'm' 'r' 'cc' 'k' 'c' 'd' 'x' 'i' 'e' 'aa' 'ff' 'j' nan]

Before transformation, unique values for 6
['v' 'h' 'bb' 'ff' 'j' 'z' nan 'o' 'dd' 'n']

After transformation
['v' 'h' 'bb' 'ff' 'j' 'z' nan 'o' 'dd' 'n']

Before transformation, unique values for 8
['t' 'f']

After transformation
['t' 'f']

Before transformation, unique values for 9
['t' 'f']

After transformation
['t' 'f']

Before transformation, unique values for 11
['f' 't']

After transformation
['f' 't']

Before transformation, unique values for 12
['g' 's' 'p']

After transformation
['g' 's' 'p']

Before transformation, unique values for 15
['+' '-']

After transformation
['+' '-']

In [10]:
#Getting value counts for all categorical columns to check for redundancy

crxd[0].value_counts()

b    468
a    210
Name: 0, dtype: int64

In [11]:
crxd[3].value_counts()

u    519
y    163
l      2
Name: 3, dtype: int64

In [12]:
crxd[4].value_counts()

#Columns 3 & 4 appear to have the same data, pertaining to the same number of values for their 3 categories. 
#One of the columns, number 4, needs to be removed to avoid duplication.

g     519
p     163
gg      2
Name: 4, dtype: int64

In [13]:
crxd[5].value_counts()

c     137
q      78
w      64
i      59
aa     54
ff     53
k      51
cc     41
x      38
m      38
d      30
e      25
j      10
r       3
Name: 5, dtype: int64

In [14]:
crxd[6].value_counts()

v     399
h     138
bb     59
ff     57
z       8
j       8
dd      6
n       4
o       2
Name: 6, dtype: int64

In [15]:
crxd[8].value_counts()

t    361
f    329
Name: 8, dtype: int64

In [16]:
crxd[9].value_counts()

f    395
t    295
Name: 9, dtype: int64

In [17]:
crxd[11].value_counts()

f    374
t    316
Name: 11, dtype: int64

In [18]:
crxd[12].value_counts()

g    625
s     57
p      8
Name: 12, dtype: int64

In [19]:
crxd[15].value_counts()

-    383
+    307
Name: 15, dtype: int64

In [20]:
#Completed value_counts function for all categorical columns
#Removing column 4 using the drop function, in order to avoid duplication

crxd2 = crxd.drop(crxd.columns[[4]], axis=1)
crxd2.head(5)

  0      1      2  3  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  w  v  1.25  t  t   1  f  g  202.0    0  +
1  a  58.67  4.460  u  q  h  3.04  t  t   6  f  g   43.0  560  +
2  a  24.50  0.500  u  q  h  1.50  t  f   0  f  g  280.0  824  +
3  b  27.83  1.540  u  w  v  3.75  t  t   5  t  g  100.0    3  +
4  b  20.17  5.625  u  w  v  1.71  t  f   0  f  s  120.0    0  +

In [21]:
#Verifying datatypes of all columns again, after performing value_counts

crxd2.dtypes

0      object
1     float64
2     float64
3      object
5      object
6      object
7     float64
8      object
9      object
10      int64
11     object
12     object
13    float64
14      int64
15     object
dtype: object

In [22]:
#Imputing missing values of all numeric features with their median

crxd2.fillna(crxd.median(), inplace=True)

In [23]:
#Checking sum of missing values for all columns

crxd2.isna().sum()

0     12
1      0
2      0
3      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
dtype: int64

In [24]:
#Imputing missing values of categorical features(columns 0,3,5 and 6) with their mode

crxd2 = crxd2.fillna(crxd[0].value_counts().index[0] ) 
crxd2 = crxd2.fillna(crxd[3].value_counts().index[0] ) 
crxd2 = crxd2.fillna(crxd[5].value_counts().index[0] ) 
crxd2 = crxd2.fillna(crxd[6].value_counts().index[0] )

In [25]:
#Checking if any missing values are still present. There are none so we can go ahead with the preprocessing tasks.

crxd2.isna().sum()

0     0
1     0
2     0
3     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [26]:
#Discretizing A2 numerical feature with 3 equal-frequency bins named "low", "medium", and "high"

crxd_cat = crxd2.copy()

crxd_cat[1] = pd.qcut(crxd_cat[1], q=3, 
                                     labels=['low', 'medium', 'high'])

In [27]:
#Checking bins of A2 feature

crxd_cat[1].value_counts()

medium    231
low       230
high      229
Name: 1, dtype: int64

In [28]:
#Displaying first 5 entries of crxd_cat
crxd_cat.head(5)

  0       1      2  3  5  6     7  8  9   10 11 12     13   14 15
0  b  medium  0.000  u  w  v  1.25  t  t   1  f  g  202.0    0  +
1  a    high  4.460  u  q  h  3.04  t  t   6  f  g   43.0  560  +
2  a  medium  0.500  u  q  h  1.50  t  f   0  f  g  280.0  824  +
3  b  medium  1.540  u  w  v  3.75  t  t   5  t  g  100.0    3  +
4  b     low  5.625  u  w  v  1.71  t  f   0  f  s  120.0    0  +

In [29]:
#Copying encoded data "crxd_cat" as "Data_copy" to be used at later stage to assign column names to standardised dataset.
Data_copy = crxd_cat.drop(columns = 15).copy()

#Setting Data and Target variables for modeling, also converting them into Numpy array to facilitate the usage of sklearn module.
Data = crxd_cat.drop(columns = 15).values

target = crxd_cat[15].values

In [30]:
#Viewing unique values for target variable

np.unique(target, return_counts=True)

(array(['+', '-'], dtype=object), array([307, 383]))

In [31]:
#Performing integer-encoding for target variable

from sklearn import preprocessing

le = preprocessing.LabelEncoder()
le_fit = le.fit(target)
target_encoded_le = le_fit.transform(target)

In [32]:
#Displaying target variable after encoding

print("Target Type:", type(target))

print("Counts Using NumPy:")
print(np.unique(target_encoded_le, return_counts = True))

Target Type: <class 'numpy.ndarray'>
Counts Using NumPy:
(array([0, 1]), array([307, 383]))

In [33]:
#Recovering original labels of target variable using inverse_transform method

target_original_values = le_fit.inverse_transform(target_encoded_le)

# NumPy array to pandas Series conversion:
pd.Series(target_original_values).value_counts()

-    383
+    307
dtype: int64

In [34]:
#Re-encoding positive class as 1 and negative class as 0

target_encoded_where = np.where(target=='+', 1, 0)

np.unique(target_encoded_where, return_counts = True)

(array([0, 1]), array([383, 307]))

In [35]:
# get the list of categorical descriptive features before one-hot-encoding
categorical_cols = Data_copy.columns[Data_copy.dtypes==object].tolist()

categorical_cols

[0, 3, 5, 6, 8, 9, 11, 12]

In [36]:
# Performing one-hot encoding for all categorical features
Data_encoded = pd.get_dummies(Data_copy)

Data_encoded.head()

,2,7,10,13,14,0_a,0_b,1_low,1_medium,1_high,...,6_z,8_f,8_t,9_f,9_t,11_f,11_t,12_g,12_p,12_s
0,0.000,1.25,1,202.0,0,0,1,0,1,0,...,0,0,1,0,1,1,0,1,0,0
1,4.460,3.04,6,43.0,560,1,0,0,0,1,...,0,0,1,0,1,1,0,1,0,0
2,0.500,1.50,0,280.0,824,1,0,0,1,0,...,0,0,1,1,0,1,0,1,0,0
3,1.540,3.75,5,100.0,3,0,1,0,1,0,...,0,0,1,0,1,0,1,1,0,0
4,5.625,1.71,0,120.0,0,0,1,1,0,0,...,0,0,1,1,0,1,0,0,0,1

In [37]:
#Checking datatypes after encoding

print(type(Data_encoded))
print(type(Data_copy))
print(type(Data))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

In [38]:
#Normalisation using standard scaling, and rounding figures to 3 decimal places

from sklearn import preprocessing

Data_scaler = preprocessing.StandardScaler()

Data_encoded_norm_numpy = Data_scaler.fit_transform(Data_encoded)

Data_encoded_norm_numpy.round(3)

array([[-0.957, -0.291, -0.288, ...,  0.322, -0.108, -0.3  ],
       [-0.06 ,  0.244,  0.741, ...,  0.322, -0.108, -0.3  ],
       [-0.856, -0.216, -0.494, ...,  0.322, -0.108, -0.3  ],
       ...,
       [ 1.757, -0.067, -0.288, ...,  0.322, -0.108, -0.3  ],
       [-0.915, -0.653, -0.494, ...,  0.322, -0.108, -0.3  ],
       [-0.278,  1.814, -0.494, ...,  0.322, -0.108, -0.3  ]])

In [39]:
#View class of encoded data

print(type(Data_encoded_norm_numpy))

<class 'numpy.ndarray'>

In [40]:
#Adding back column names to encoded data

Data_encoded_norm_df = pd.DataFrame(Data_encoded_norm_numpy, 
                                    columns=Data_encoded.columns)

#Displaying small sample of clean data
Data_encoded_norm_df.sample(n=4, random_state=11)

,2,7,10,13,14,0_a,0_b,1_low,1_medium,1_high,...,6_z,8_f,8_t,9_f,9_t,11_f,11_t,12_g,12_p,12_s
214,-0.411841,0.905058,-0.288101,0.159461,-0.195413,-0.661438,0.661438,-0.707107,1.409614,-0.704802,...,-0.108306,-0.954650,0.954650,-1.157144,1.157144,0.919195,-0.919195,0.322490,-0.108306,-0.300079
545,1.254640,-0.216324,-0.493887,-1.066817,-0.195413,-0.661438,0.661438,-0.707107,-0.709414,1.418838,...,-0.108306,-0.954650,0.954650,0.864196,-0.864196,0.919195,-0.919195,-3.100868,-0.108306,3.332456
436,-0.839015,-0.664877,0.123472,0.967293,-0.047708,-0.661438,0.661438,1.414214,-0.709414,-0.704802,...,-0.108306,1.047504,-1.047504,-1.157144,1.157144,0.919195,-0.919195,0.322490,-0.108306,-0.300079
201,-0.755590,0.007953,-0.493887,-1.066817,-0.137791,1.511858,-1.511858,-0.707107,-0.709414,1.418838,...,-0.108306,-0.954650,0.954650,0.864196,-0.864196,-1.087908,1.087908,0.322490,-0.108306,-0.300079

In [41]:
#Copying clean data as "df_clean"

df_clean = Data_encoded_norm_df.copy()

In [42]:
df_clean.shape

(690, 48)

In [43]:
df_clean.describe(include='all').round(3)

,2,7,10,13,14,0_a,0_b,1_low,1_medium,1_high,...,6_z,8_f,8_t,9_f,9_t,11_f,11_t,12_g,12_p,12_s
count,690.000,690.000,690.000,690.000,690.000,690.000,690.000,690.000,690.000,690.000,...,690.000,690.000,690.000,690.000,690.000,690.000,690.000,690.000,690.000,690.000
mean,0.000,0.000,0.000,0.000,-0.000,-0.000,0.000,0.000,-0.000,0.000,...,-0.000,-0.000,0.000,0.000,-0.000,0.000,-0.000,0.000,-0.000,-0.000
std,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,...,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001
min,-0.957,-0.665,-0.494,-1.067,-0.195,-0.661,-1.512,-0.707,-0.709,-0.705,...,-0.108,-0.955,-1.048,-1.157,-0.864,-1.088,-0.919,-3.101,-0.108,-0.300
25%,-0.756,-0.616,-0.494,-0.602,-0.195,-0.661,-1.512,-0.707,-0.709,-0.705,...,-0.108,-0.955,-1.048,-1.157,-0.864,-1.088,-0.919,0.322,-0.108,-0.300
50%,-0.404,-0.366,-0.494,-0.137,-0.194,-0.661,0.661,-0.707,-0.709,-0.705,...,-0.108,-0.955,0.955,0.864,-0.864,0.919,-0.919,0.322,-0.108,-0.300
75%,0.492,0.120,0.123,0.514,-0.119,1.512,0.661,1.414,1.410,1.419,...,-0.108,1.048,0.955,0.864,1.157,0.919,1.088,0.322,-0.108,-0.300
max,4.672,7.858,13.294,10.557,19.012,1.512,0.661,1.414,1.410,1.419,...,9.233,1.048,0.955,0.864,1.157,0.919,1.088,0.322,9.233,3.332

In [44]:
df_clean.head(5)

,2,7,10,13,14,0_a,0_b,1_low,1_medium,1_high,...,6_z,8_f,8_t,9_f,9_t,11_f,11_t,12_g,12_p,12_s
0,-0.956613,-0.291083,-0.288101,0.107155,-0.195413,-0.661438,0.661438,-0.707107,1.409614,-0.704802,...,-0.108306,-0.95465,0.95465,-1.157144,1.157144,0.919195,-0.919195,0.322490,-0.108306,-0.300079
1,-0.060051,0.244190,0.740830,-0.816912,-0.087852,1.511858,-1.511858,-0.707107,-0.709414,1.418838,...,-0.108306,-0.95465,0.95465,-1.157144,1.157144,0.919195,-0.919195,0.322490,-0.108306,-0.300079
2,-0.856102,-0.216324,-0.493887,0.560471,-0.037144,1.511858,-1.511858,-0.707107,1.409614,-0.704802,...,-0.108306,-0.95465,0.95465,0.864196,-0.864196,0.919195,-0.919195,0.322490,-0.108306,-0.300079
3,-0.647038,0.456505,0.535044,-0.485643,-0.194837,-0.661438,0.661438,-0.707107,1.409614,-0.704802,...,-0.108306,-0.95465,0.95465,-1.157144,1.157144,-1.087908,1.087908,0.322490,-0.108306,-0.300079
4,0.174141,-0.153526,-0.493887,-0.369408,-0.195413,-0.661438,0.661438,1.414214,-0.709414,-0.704802,...,-0.108306,-0.95465,0.95465,0.864196,-0.864196,0.919195,-0.919195,-3.100868,-0.108306,3.332456

In [45]:
pd.DataFrame(df_clean).to_csv("df_clean.csv")

# Question 2.(a)

In [46]:
#Reading the data set

q2 = 'Asignment1_Q2.csv'
q2 = pd.read_csv(q2 , sep=',')
q2.head(5)

,COUNTRY_ID,LIFE_EXP,TOP10_INCOME,INFANT_MORT,MIL_SPEND,SCHOOL_YEARS,CPI
0,Afghanistan,59.61,23.21,74.3,4.44,0.4,1.5171
1,Haiti,45.00,47.67,73.1,0.09,3.4,1.7999
2,Nigeria,51.30,38.23,82.6,1.07,4.1,2.4493
3,Egypt,70.48,26.58,19.6,1.86,5.3,2.8622
4,Argentina,75.77,32.30,13.3,0.76,10.1,2.9961

In [47]:
# Setting the target variable

target = q2[q2["COUNTRY_ID"] == "Russia"].iloc[0]
target

COUNTRY_ID      Russia
LIFE_EXP         67.62
TOP10_INCOME     31.68
INFANT_MORT         10
MIL_SPEND         3.87
SCHOOL_YEARS      12.9
CPI                  ?
Name: 16, dtype: object

In [48]:
import math

dist_columns = ['LIFE_EXP','TOP10_INCOME','INFANT_MORT','MIL_SPEND','SCHOOL_YEARS']

#Defining function to calculate Manhattan distance and implementing it on the data set

def manhattan_distance(value):
    inner_value = 0
    for i in dist_columns:
        inner_value += abs(value[i] - target[i])
    return inner_value

manhattan = q2.apply(manhattan_distance, axis=1).round(4)
manhattan

0      93.85
1     114.99
2     107.07
3      27.17
4      17.98
5      21.07
6      29.39
7      26.26
8      18.07
9      28.15
10     22.64
11     32.19
12     29.11
13     29.96
14     33.61
15     25.36
16      0.00
dtype: float64

In [49]:
#Adding Manhattan distance as a column to the original data set
q2_manhattan = q2.assign(manhattan= manhattan.values)


#Subsetting the data table and sorting obervations by Manhattan distance

man_subset=q2_manhattan[['COUNTRY_ID','manhattan','CPI']]
man_subset.sort_values(by=['manhattan'], inplace=True)
man_subset

     COUNTRY_ID  manhattan     CPI
16       Russia       0.00       ?
4     Argentina      17.98  2.9961
8         U.S.A      18.07  7.1357
5         China      21.07  3.6356
10         U.K.      22.64  7.7751
15  New Zealand      25.36  9.4627
7        Israel      26.26  5.8069
3         Egypt      27.17  2.8622
9       Ireland      28.15   7.536
12       Canada      29.11  8.6725
6        Brazil      29.39  3.7741
13    Australia      29.96  8.8442
11      Germany      32.19  8.0461
14       Sweden      33.61  9.2985
0   Afghanistan      93.85  1.5171
2       Nigeria     107.07  2.4493
1         Haiti     114.99  1.7999

In [50]:
#Subsetting data to not include the Russia observation.

man_subset2 = man_subset[man_subset['COUNTRY_ID'] != "Russia"] 

#Selecting 3-nearest neighbours for prediction as follows-

man_subset2['CPI']=man_subset2['CPI'].astype(float)
man_subset3=man_subset2.nsmallest(3,'manhattan')
man_subset3

  COUNTRY_ID  manhattan     CPI
4  Argentina      17.98  2.9961
8      U.S.A      18.07  7.1357
5      China      21.07  3.6356

In [51]:
#Calculating CPI of Russia using 3NN prediction with Manhattan distance

Russia_cpi=man_subset3['CPI'].mean()
Russia_cpi

4.589133333333334

# 2.(b)

In [52]:
#Calculating weights for the kNN prediction model

wt=man_subset2[['manhattan']]
def weight(value):
    sum = 0
    for i in wt:
        sum += 1/(value[i])**2
    return sum

weight = man_subset2.apply(weight, axis=1).round(4)

weight

4     0.0031
8     0.0031
5     0.0023
10    0.0020
15    0.0016
7     0.0015
3     0.0014
9     0.0013
12    0.0012
6     0.0012
13    0.0011
11    0.0010
14    0.0009
0     0.0001
2     0.0001
1     0.0001
dtype: float64

In [53]:
#Adding calculated-weights column to the subsetted data table

man_weights = man_subset2.assign(weight = weight.values)

man_weights

     COUNTRY_ID  manhattan     CPI  weight
4     Argentina      17.98  2.9961  0.0031
8         U.S.A      18.07  7.1357  0.0031
5         China      21.07  3.6356  0.0023
10         U.K.      22.64  7.7751  0.0020
15  New Zealand      25.36  9.4627  0.0016
7        Israel      26.26  5.8069  0.0015
3         Egypt      27.17  2.8622  0.0014
9       Ireland      28.15  7.5360  0.0013
12       Canada      29.11  8.6725  0.0012
6        Brazil      29.39  3.7741  0.0012
13    Australia      29.96  8.8442  0.0011
11      Germany      32.19  8.0461  0.0010
14       Sweden      33.61  9.2985  0.0009
0   Afghanistan      93.85  1.5171  0.0001
2       Nigeria     107.07  2.4493  0.0001
1         Haiti     114.99  1.7999  0.0001

In [54]:
#Sum of weights column

sum_weight=man_weights['weight'].sum(axis=0)
sum_weight

0.022

In [55]:
#Multiplying CPI by calculated-weights column

wt_cpi=man_weights['CPI']*man_weights['weight']
q2_wt = man_weights.assign(wt_cpi = wt_cpi.values)
q2_wt

     COUNTRY_ID  manhattan     CPI  weight    wt_cpi
4     Argentina      17.98  2.9961  0.0031  0.009288
8         U.S.A      18.07  7.1357  0.0031  0.022121
5         China      21.07  3.6356  0.0023  0.008362
10         U.K.      22.64  7.7751  0.0020  0.015550
15  New Zealand      25.36  9.4627  0.0016  0.015140
7        Israel      26.26  5.8069  0.0015  0.008710
3         Egypt      27.17  2.8622  0.0014  0.004007
9       Ireland      28.15  7.5360  0.0013  0.009797
12       Canada      29.11  8.6725  0.0012  0.010407
6        Brazil      29.39  3.7741  0.0012  0.004529
13    Australia      29.96  8.8442  0.0011  0.009729
11      Germany      32.19  8.0461  0.0010  0.008046
14       Sweden      33.61  9.2985  0.0009  0.008369
0   Afghanistan      93.85  1.5171  0.0001  0.000152
2       Nigeria     107.07  2.4493  0.0001  0.000245
1         Haiti     114.99  1.7999  0.0001  0.000180

In [56]:
#Calculating CPI value for Russia, according to weighted k-NN prediction model, with k=16

wt_cpi=q2_wt['wt_cpi'].sum(axis=0).round(3)

cpi_russia2=wt_cpi/sum_weight
cpi_russia2.round(3)

6.136

# 2.(c)

In [57]:
#Normalizing the data using range normalization

normal = ['LIFE_EXP','TOP10_INCOME','INFANT_MORT','MIL_SPEND','SCHOOL_YEARS']
q2_new=q2.copy()
q2_new[normal] = q2_new[normal].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

q2_new

,COUNTRY_ID,LIFE_EXP,TOP10_INCOME,INFANT_MORT,MIL_SPEND,SCHOOL_YEARS,CPI
0,Afghanistan,0.393907,0.044531,0.896509,0.651198,0.000000,1.5171
1,Haiti,0.000000,1.000000,0.881546,0.000000,0.217391,1.7999
2,Nigeria,0.169857,0.631250,1.000000,0.146707,0.268116,2.4493
3,Egypt,0.686978,0.176172,0.214464,0.264970,0.355072,2.8622
4,Argentina,0.829604,0.399609,0.135910,0.100299,0.702899,2.9961
5,China,0.805338,0.308984,0.140898,0.278443,0.434783,3.6356
6,Brazil,0.758156,0.814844,0.150873,0.200599,0.492754,3.7741
7,Israel,0.978700,0.262891,0.014963,1.000000,0.876812,5.8069
8,U.S.A,0.903478,0.303906,0.048628,0.693114,0.963768,7.1357
9,Ireland,0.947695,0.201563,0.013716,0.076347,0.804348,7.536
10,U.K.,0.946077,0.250781,0.024938,0.374251,0.913043,7.7751
11,Germany,0.950121,0.000000,0.013716,0.182635,0.840580,8.0461
12,Canada,0.970342,0.106250,0.031172,0.199102,1.000000,8.6725
13,Australia,1.000000,0.130078,0.022444,0.264970,0.804348,8.8442
14,Sweden,0.982205,0.004297,0.000000,0.176647,0.898551,9.2985
15,New Zealand,0.961715,0.224219,0.031172,0.155689,0.862319,9.4627
16,Russia,0.609868,0.375391,0.094763,0.565868,0.905797,?

In [58]:
#setting the target variable

target_new = q2_new[q2_new["COUNTRY_ID"] == "Russia"].iloc[0]
target_new

COUNTRY_ID         Russia
LIFE_EXP         0.609868
TOP10_INCOME     0.375391
INFANT_MORT     0.0947631
MIL_SPEND        0.565868
SCHOOL_YEARS     0.905797
CPI                     ?
Name: 16, dtype: object

In [59]:
import math

cols_new = ['LIFE_EXP','TOP10_INCOME','INFANT_MORT','MIL_SPEND','SCHOOL_YEARS']

#Defining function to calculate Manhattan distance and implementing it on the data set

def manhattan_distance(value):
    inner_value = 0
    for i in cols_new:
        inner_value += abs(value[i] - target_new[i])
    return inner_value

manh_new = q2_new.apply(manhattan_distance, axis=1).round(4)

manh_new

0     2.3397
1     3.2755
2     2.6579
3     1.2477
4     0.9536
5     1.0665
6     1.4222
7     1.0243
8     0.5964
9     1.1837
10    0.7295
11    1.2451
12    1.1542
13    1.1101
14    1.2347
15    1.0203
16    0.0000
dtype: float64

In [60]:
#Adding Manhattan distance as a column to the original data set
manh_new2 = q2_new.assign(manh_new= manh_new.values)

#Subsetting the data table and sorting obervations by Manhattan distance
manh_new3=manh_new2[['COUNTRY_ID','manh_new','CPI']]
manh_new3.sort_values(by=['manh_new'], inplace=True)
manh_new3

     COUNTRY_ID  manh_new     CPI
16       Russia    0.0000       ?
8         U.S.A    0.5964  7.1357
10         U.K.    0.7295  7.7751
4     Argentina    0.9536  2.9961
15  New Zealand    1.0203  9.4627
7        Israel    1.0243  5.8069
5         China    1.0665  3.6356
13    Australia    1.1101  8.8442
12       Canada    1.1542  8.6725
9       Ireland    1.1837   7.536
14       Sweden    1.2347  9.2985
11      Germany    1.2451  8.0461
3         Egypt    1.2477  2.8622
6        Brazil    1.4222  3.7741
0   Afghanistan    2.3397  1.5171
2       Nigeria    2.6579  2.4493
1         Haiti    3.2755  1.7999

In [61]:
#Selecting 3-nearest neighbours for prediction as follows-

man_subset2['CPI']=man_subset2['CPI'].astype(float)
man_subset3=man_subset2.nsmallest(3,'manhattan')
man_subset3


#Subsetting data to not include the Russia observation.
norm_subset = manh_new3[manh_new3['COUNTRY_ID'] != "Russia"] 

#Selecting 3-nearest neighbours for prediction as follows-
norm_subset['CPI']=norm_subset['CPI'].astype(float)
norm_subset2=norm_subset.nsmallest(3,'manh_new')
norm_subset2

   COUNTRY_ID  manh_new     CPI
8       U.S.A    0.5964  7.1357
10       U.K.    0.7295  7.7751
4   Argentina    0.9536  2.9961

In [62]:
#Calculating CPI of Russia using 3NN prediction with Manhattan distance, after normalising the data

rus_cpi=norm_subset2['CPI'].mean()
rus_cpi

5.968966666666667

# 2.(d)

In [63]:
#Calculating weights for the kNN prediction model

knn_wt_norm=norm_subset[['manh_new']]

def weight(value):
    sum = 0
    for i in knn_wt_norm:
        sum += 1/(value[i])**2
    return sum

new_weights = norm_subset.apply(weight, axis=1).round(4)

new_weights

8     2.8114
10    1.8791
4     1.0997
15    0.9606
7     0.9531
5     0.8792
13    0.8115
12    0.7507
9     0.7137
14    0.6560
11    0.6450
3     0.6424
6     0.4944
0     0.1827
2     0.1416
1     0.0932
dtype: float64

In [64]:
#Adding calculated-weights column to the subsetted data table

corruption_weights_new = norm_subset.assign(new_weights = new_weights.values)

corruption_weights_new

     COUNTRY_ID  manh_new     CPI  new_weights
8         U.S.A    0.5964  7.1357       2.8114
10         U.K.    0.7295  7.7751       1.8791
4     Argentina    0.9536  2.9961       1.0997
15  New Zealand    1.0203  9.4627       0.9606
7        Israel    1.0243  5.8069       0.9531
5         China    1.0665  3.6356       0.8792
13    Australia    1.1101  8.8442       0.8115
12       Canada    1.1542  8.6725       0.7507
9       Ireland    1.1837  7.5360       0.7137
14       Sweden    1.2347  9.2985       0.6560
11      Germany    1.2451  8.0461       0.6450
3         Egypt    1.2477  2.8622       0.6424
6        Brazil    1.4222  3.7741       0.4944
0   Afghanistan    2.3397  1.5171       0.1827
2       Nigeria    2.6579  2.4493       0.1416
1         Haiti    3.2755  1.7999       0.0932

In [65]:
#Sum of weights column

sum_weight_new=corruption_weights_new['new_weights'].sum(axis=0)
sum_weight_new

13.7143

In [66]:
#Multiplying CPI by calculated-weights column

weightXcpi_new=corruption_weights_new['CPI']*corruption_weights_new['new_weights']

weightXcpi_new

8     20.061307
10    14.610190
4      3.294811
15     9.089870
7      5.534556
5      3.196420
13     7.177068
12     6.510446
9      5.378443
14     6.099816
11     5.189734
3      1.838677
6      1.865915
0      0.277174
2      0.346821
1      0.167751
dtype: float64

In [67]:
#Viewing Manhattan distance, CPI, calcualted weights, weights*CPI for all countries

df_weights_cpi = corruption_weights_new.assign(weightXcpi_new = weightXcpi_new.values)
df_weights_cpi

     COUNTRY_ID  manh_new     CPI  new_weights  weightXcpi_new
8         U.S.A    0.5964  7.1357       2.8114       20.061307
10         U.K.    0.7295  7.7751       1.8791       14.610190
4     Argentina    0.9536  2.9961       1.0997        3.294811
15  New Zealand    1.0203  9.4627       0.9606        9.089870
7        Israel    1.0243  5.8069       0.9531        5.534556
5         China    1.0665  3.6356       0.8792        3.196420
13    Australia    1.1101  8.8442       0.8115        7.177068
12       Canada    1.1542  8.6725       0.7507        6.510446
9       Ireland    1.1837  7.5360       0.7137        5.378443
14       Sweden    1.2347  9.2985       0.6560        6.099816
11      Germany    1.2451  8.0461       0.6450        5.189734
3         Egypt    1.2477  2.8622       0.6424        1.838677
6        Brazil    1.4222  3.7741       0.4944        1.865915
0   Afghanistan    2.3397  1.5171       0.1827        0.277174
2       Nigeria    2.6579  2.4493       0.1416        0.346821
1         Haiti    3.2755  1.7999       0.0932        0.167751

In [68]:
#After range normalising
#Calculating CPI value for Russia, according to weighted k-NN prediction model, with k=16 

sum_weightXcpi_new=df_weights_cpi['weightXcpi_new'].sum(axis=0).round(3)
cpi_russia2_new=sum_weightXcpi_new/sum_weight_new
cpi_russia2_new.round(3)

6.609

# 2.(e)

The model having the best prediction was the weighted k-NN prediction model—with k = 16, used on normalized data. There are a few possible reasons
for this result, including the effect of normalization(especially when there are varying ranges of data). Secondly, small data sets tend to be 
poorly fitted by 3NN models, while weighted k-NN models mitigates this effect.